[submodule "test/integration/pkg/python-adi"]
	path = test/integration/pkg/python-adi
	url = git@github.com:cybera/python-adi.git
[submodule "services/pkg/python-adi"]
	path = services/pkg/python-adi
	url = git@github.com:cybera/python-adi.git
