[submodule "services/pkg/python-synthi"]
	path = services/pkg/python-synthi
	url = https://cmann@github.com/cybera/python-synthi
[submodule "test/integration/pkg/python-synthi"]
	path = test/integration/pkg/python-synthi
	url = https://cmann@github.com/cybera/python-synthi
