[storage.object.creds]

username = "your-openstack-username"
password = "your-openstack-password"
region = "your-openstack-region-name"
tempUrlKey = "your-temp-url-key"
tenantName = "your-openstack-tenant-name"
tenantId = "your-openstack-tenant-id"
# you should not include the "/v2.0" path found in default openstack credentials
authUrl = "https://your-auth-endpoint:5000"
swiftUrl = 'https://your-swift-endpoint:8080'
tempUrlKey = "your-swift-temp-url-key"
projectDomainName="Default"

[storage.object.containers]

datasets = "adi_datasets"
scripts = "adi_scripts"

[storage]

# Can be "object"
type = "object"

[neo4j]

protocol = "bolt"
host = "neo4j"
port = 7687
username = "neo4j"
password = "password"

[server]

secret = "secret-token-123456"

# macOS users can use the following standard hostname:
baseUrl = "http://host.docker.internal:3000"
# Linux users should comment out the above baseUrl setting and use the following 
# (assuming 192.168.122.1 is your internal docker host IP):
# baseUrl = "http://192.168.122.1:3000"

[k8s.images]

import_csv = "cybera/adi-python-worker"
transform = "cybera/adi-python-worker"
register_transformation = "cybera/adi-python-worker"
import_document = "cybera/adi-tika-worker"
