[storage.object.creds]

username = "your-openstack-username"
password = "your-openstack-password"
region = "your-openstack-region-name"
# tenant or project name
tenantName = "your-openstack-tenant-name"
# you should not include the "/v2.0" path found in default openstack credentials
authUrl = "https://your-auth-endpoint:5000"

[storage.object.containers]

datasets = "adi_datasets"
scripts = "adi_scripts"

[storage.legacy]

dataRoot = "/mnt/data"

[storage]

# Can be "object" or "legacy"
type = "object"

[neo4j]

protocol = "bolt"
host = "neo4j"
port = 7687
username = "neo4j"
password = "password"

[server]

secret = "secret-token-123456"

[k8s.images]

import_csv = "cybera/python-worker"
transform = "cybera/python-worker"
register = "cybera/python-worker"
import_document = "cybera/tika-worker"
